@media (max-width:1400px){
    .header-container-img{
        margin-top:50px;
    }
}
@media (max-width:1230px){
    .nav-wrapp{
        padding-right: 40px;
    }
    .header{
        background-size: cover;
        background-position: center;
    }
    .header-container-img{
        width:90%;
    }
    .benefits{
    width: 1000px
    }
    .benefits__header{
        width: 900px;
        display: flex;
        align-self: center;
    }
    .benefits-wrapp{
        width: 900px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .offices-container{
        width: 1000px
    }
    .bottom-outer-top-block{
        width: 1000px
    }
    .bottom-outer-nav-wrap_margin-right{
        margin-right: 50px;
    }
    .bottom-outer-bottom-block{
        width:1000px;
        justify-content: center;
    }
    .bottom-outer-pay{
        justify-content: center;
        margin-left: 50px;
    }
    .bottom-outer-pay-img{
        width: 600px;
    }
    .bottom-outer-pay-soc{
        width: 150px;
    }
    .footer-wrap{
        width:1000px;
    }
}
@media (max-width:1024px){
    .nav{
        width:100%;
        height: 140px;
    }
    .nav-block{
        width:700px;
        height: 140px;
        flex-direction: column;
    }
    .nav__logo{
        margin-top: 20px;
    }
    .header-container-img{
        flex-direction: column;
        align-items: center;
    }
    .offices-container{
        width: 100%;
    }
    .benefits{
        width :100%;
    }
    .benefits-wrapp{
        width:90%;
    }
    .benefits__header{
        width: 90%;
    }
    .bottom-outer-top-block{
        width: 800px;
        margin-top:40px;
    }
    .bottom-outer-nav-wrap{
        margin-left:20px;
    }
    .bottom-outer-bottom-block{
        width: 800px;
    }
    .footer-wrap{
        width: 800px;
    }
    .footer{
        height: 130px;
    }
    .footer-wrap{
        margin-top:0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .footer-wrap-block{
        align-items: center
    }
}
@media (max-width:900px){
    .bottom-outer{
        height: 400px;
    }
    .bottom-outer-bottom-block{
        height: 200px;
    }
    .bottom-outer-pay{
        flex-direction: column;
    }
    .bottom-outer-pay-soc{
        margin-top:10px;
        align-self: center;
    }
}
@media (max-width:820px){
    .header-caption{
        font-size:1.5em;
    }
    .main{
        width: auto;
    }
    .header{
        width:100%;
    }
    .nav{
        width:100%;
    }
    .nav-block{
        width: auto;
    }
    .benefits{
        height: 800px;
    }
    .online-bank__text{
        max-width: 600px;
    }
    .aboutUs__text{
        max-width: 600px;
    }
    .assistance__text{
        max-width: 600px;
    }
    .bottom-outer{
        height: 650px;
        align-content: center
    }
    .bottom-outer-pay{
        margin-left: 0;
    }
    .bottom-outer-top-block{
        flex-direction: column;
        height: 350px;
        align-items: center;
        width: 600px;
    }
    .bottom-outer-bottom-block{
        width: 600px;
    }
    .bottom-outer-nav-wrap{
        margin: 0;
        text-align: center;
    }
    .bottom-outer-nav-wrap_margin-right{
        margin: 0;
    }
    .bottom-outer-nav{
        text-align: center;
    }
}
@media (max-width:661px){
    .changeHeight{
        height: 350px;
    }
    .nav{
        background-color: rgba(0, 0, 0, 0.767);
        transition: height, .5s;
    }
    .nav-block{
        justify-content: center;
        align-items: center;
        transition: height, .5s;
    }
    .nav__logo{
        margin-top:0;
    }
    .nav-wrapp{
        display: none;
        order: 3;
        flex-direction: column;
        margin:0;
        padding: 0
    }
    .nav-wrapp__item:hover{
        border-bottom: none;
    }
    .nav-btn{
        display: flex;
        width: 27px;
        height: 20px;
        /* border:2px solid #fff; */
        align-self: center;
        margin-top:10px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    .nav-btn:hover .nav-btn__line{
        background-color: #bfa268;
        border:1px solid #bfa268
    }
    .nav-btn__line{
        width: 27px;
        height: 2px;
        background-color: #fff;
        margin: 0;
        padding: 0;
        border-radius: 2px;
        transition: border, .5s;
    }
    .nav-right-container{
        margin-top: 15px;
    }
    .nav-wrapp__item{
        width: auto;
        margin:0;
        justify-content: center;
        transition: none;
        
    }
    .nav-wrapp__link::after{
        transition: border-bottom, .5s;
    }
    .nav-wrapp__link:hover.nav-wrapp__link::after{
        content: "";
        width: auto;
        height: 2px;
        display: block;
        border-bottom:2px solid #bfa268;
        
    }
    .header-caption__text{
        font-size: 1.3em;
    }
    .online-bank__header{
        font-size: 1.4em;
    }
    .swift-iban__header{
        font-size: 1.3em;
    }
    .assistance{
        height: 200px;
    }
    .assistance__header{
        font-size: 1.3em;
        padding-top:30px;
    }
    .openAccount{
        height: 400px;
    }
    .openAccount__header{
        font-size: 1.3em;
    }
    .benefits{
        height: 950px;
    }
    .aboutUs{
        height: 450px;
    }
    .aboutUs__header{
        font-size: 1.3em;
    }
    .offices__header{
        font-size: 1.3em;
        padding-top:30px;
        margin-top: 20px;
    }
    .offices{
        width: auto;
        height: auto;
        padding-bottom: 30px;
    }
    .offices-container{
        flex-direction: column;
    }
    .offices-container-left{
        width: 95%;
    }
    .offices-container__header{
        padding-bottom: 0;
    }
    .offices-container-left-1st-block{
        margin-bottom: 0;
    }
    .offices-container-right{
        width: 95%;
    }
    .bottom-outer{
        height: 900px;
    }
    .bottom-outer-bottom-block{
        width: auto;
        height: 450px;
    }
    .bottom-outer-pay{
        width: auto;
    }
    .bottom-outer-pay-img{
        width: auto;
        height: 500px;
        margin:0 10px;
    }
    .bottom-outer-top-block{
        width:auto
    }
    .footer{
        height: 180px;
    }
    .footer-wrap{
        width: auto;
        text-align: center;
    }
}