/* ***********************************    online-bank    *************************************** */
.online-bank{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
background-image: url(../img/online-bankink-bg.png);
background-repeat: no-repeat;
background-position: right;
background-size: 100%
}
.online-bank-block{
    margin-left: 180px;
}
.online-bank__header{
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 10px;
    color:#181818
}
.online-bank__text{
    max-width: 850px;
    text-align: center;
}
.online-bank__btn{
    display: flex;
    margin-top: 40px;
    width: 48px;
    padding: 8px 45px;
    background-color:#38a1f7;
    border-radius: 50px;
    -webkit-transition: background-image 0.5s linear 0;
    transition: background-image 0.5s linear 0;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.online-bank__btn:hover{
    background-color:#0f365a;
    background-image: -webkit-linear-gradient(top, #3e5eee, #0f365a);
}
/* ***********************************    swift-iban    *************************************** */
.swift-iban{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 405px;
    background-image: url(../img/swift-iban-bg.png);
    padding: 100px 0;
    background-position: -40px;
    background-size: 80%;
    background-repeat: no-repeat;
}
.swift-iban-block{
    align-self: flex-end;
    margin-right: 180px;
}
.swift-iban__header{
    margin: 10px 10px 25px 0px;
    color: #181818;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.swift-iban__header:nth-child(2){
    margin: 10px 10px 50px 0px;
}
.swift-iban-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-width: 650px;
}
.swift-iban-container__text{
    margin-bottom: 5px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color: #181818;
    line-height: 140%;
    text-align: left;
}
.swift-iban-container__text:nth-child(1){
    margin-bottom: 24px;
}
.swift-iban-container__text:nth-child(2){
    margin-bottom: 25px;
}
.swift-iban-container__text:nth-child(3){
    font-size: 17px;
}
.swift-iban-container__text:nth-child(4){
    font-size: 17px;
}
/* ***********************************    assistance    *************************************** */
.assistance{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 377px;
    margin-left: 30px;
    padding: 100px 0;
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-duration: 1s;
  }
.assistance__img{
      background-image: url(../img/phone.png);
      background-size: 160%;
      background-repeat: no-repeat;
      background-position-x:-165px; 
      width: 600px;
      height: 577px;
  }
.assistance__header{
    color: #181818;
    font-family:Arial, Helvetica, sans-serif;
}
.assistance__text{
    opacity: 0;
    text-align: left;
    max-width: 40%;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    line-height: 140%;
    color: #181818;
    margin-left: 160px;
}
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .fadeInLeftNow {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
  }
/* ***********************************    openAccount    *************************************** */
.openAccount{
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../img/openAccount.png);
    background-size: cover;
    background-repeat: none;
}
.openAccount__header{
    padding-bottom: 50px;
    margin-bottom: 0
}
.openAccount__text{
    text-align: center;
    max-width: 850px;
    margin-bottom: 15px;
    font-size: 25px;    
}
.openAccount__btn{
    display: flex;
    margin-top: 40px;
    width: 126px;
    padding: 13px 45px;
    background-color:#38a1f7;
    border-radius: 50px;
    -webkit-transition: background-image 0.5s linear 0;
    transition: background-image 0.5s linear 0;
    cursor: pointer;
}
.openAccount__btn:hover{
    background-color:#0f365a;
    background-image: -webkit-linear-gradient(top, #3e5eee, #0f365a);
}
/* ***********************************  benefits    *************************************** */
.benefits{
    height: 708px;
    width:1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-item-align: center;
        align-self: center;
    color: #505050;
}
.benefits__header{
    padding-left: 10px;
    /* font-size: 22px; */
    line-height: 35px;
    /* font-weight: 400; */
    margin: 0;
    margin-bottom: 10px;
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
}
.benefits-wrapp{
    padding-left: 40px;
    margin: 0;
    margin-bottom: 30px;
    list-style-image: url(../img/check.png);
    list-style-position: 5px;
}
.benefits-wrap-item{
    padding-top: 25px;
}
.benefits-wrap-item__text{
    position: relative;
    top: -5px;
    font-size: 25px;
}
.benefits__btn{
    margin-top: 10px;
    width: 107px;
    padding: 13px 45px;
    background-color:#38a1f7;
    border-radius: 50px;
    -webkit-transition: background-image 0.5s linear 0;
    transition: background-image 0.5s linear 0;
    cursor: pointer;
    margin-left: 25px;
}
.benefits__btn:hover{
    background-color:#0f365a;
    background-image: -webkit-linear-gradient(top, #3e5eee, #0f365a);
}
/* ***********************************   aboutUs    *************************************** */
.aboutUs{
    height: 676px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../img/aboutCGBank.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0
}
.aboutUs__header{
    margin-top:140px;
    margin-bottom:50px;
}
.aboutUs__text{
    max-width: 850px;
    text-align: center;
    margin-bottom:25px;
}
.aboutUs__btn{
    margin-top: 30px;
    width: 90px;
    padding: 13px 45px;
    background-color:#38a1f7;
    border-radius:50px;
    -webkit-transition: background-image 0.5s linear 0;
    transition: background-image 0.5s linear 0;
    cursor: pointer;
    text-align: center
}
.aboutUs__btn:hover{
    background-color:#0f365a;
    background-image: -webkit-linear-gradient(top, #3e5eee, #0f365a);
}
/* ***********************************   offices    *************************************** */
.offices{
    display: -webkit-box;
    display: -ms-flexbox;
    display:none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 790px;
    padding-bottom: 100px;
}
.offices__header{
    margin-top:70px;
    padding-bottom: 50px;
}
.offices-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
}
.offices-container-left{
    margin: 0 3%;
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.offices-container-left-1st-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
}
.offices-container__header{
    font-size: 23px;
    line-height: 43px;
    font-weight: 400;
    padding: 30px 0;
    margin: 0;
    font-family: 'Crimson Text', serif;
}
.offices-container__text_main{
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Crimson Text', serif;
}
.offices-container__phone{
    font-weight: bold;
    margin-top:25px;
}
.offices-container-left-2st-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.offices-container-right{
    margin: 0 3%;
    width: 44%;
}
.offices-container-right-1st-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.offices-container-img{
    margin-top: 10px;
}
.offices-container_margin-right{
    margin-right: 3px;
}
.offices-container-right-2st-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.offices-container-right-3st-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.offices-container__mail_font{
    font-size: 25px;
    font-weight: 400;
    color: #505050;
    margin-bottom: 0;
}
.offices-container__mail{
    color: #505050;
    font-size: 15px;
    line-height: 24px;
}
.company-formation-container{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-top:60px;
}
.company-formation-container-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 133px;
}
.company-formation-container-block__img{
    display: block;
    margin-bottom:25px;
    align-self: center;
    line-height: 0;
    width: 81px;
    background-size: 100%;
}
.company-formation-container-block__img_size-L{
    background-size: 70%;
}
.company-formation-container-block__img_size-X{
    background-size: 140%;
    width: 95px
}
.company-formation-container-block__img_size-XL{
    background-size: 140%;
    width: 105px
}
.company-formation-container-block__text{
    font-size: 15px;
    color:#505050;
    line-height: 24px;
    text-align: center;
}